
  <div class="card" >
    <img src="images/Classic1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="card-footer">
        <h3>Car brand</h3>
        <p>City, country </p>
      </div>
      <p>Price <span class="per-day">PER DAY</span></p>
    </div>
  </div>
