<footer>
  <div class="footer-container">

    <div class="top-footer">

      <div class="logo-footer">ClassiCars<span class="catchline">, <br>drive your dreams.</span></div>

      <div class="newsletter">
        <p class="newsletter-text">Last trends about classic cars.</p>
        <div class="newsletter-inputs">
          <input class="newsletter-name" type="text" placeholder="Doggy"/>
          <input class="newsletter-email" type="text" placeholder="doggy@dog.com"/>
          <input class="newsletter-btn" type="submit" value="Subscribe">
        </div>
      </div>

    </div>

    <div class="mid-footer">

      <div>
        <h4>About</h4>
        <ul>
          <li>Join us</li>
          <li>Values</li>
          <li>Press</li>
        </ul>
      </div>

      <div>
        <h4>Ressources</h4>
        <ul>
          <li>Blog</li>
          <li>Tools</li>
          <li>Reviews</li>
        </ul>
      </div>

      <div>
        <h4>My account</h4>
        <ul>
          <li>Activate my account</li>
          <li>Help</li>
          <li>Sign up</li>
          <li>Contact us</li>
        </ul>
      </div>

      <div>
        <h4>Follow us</h4>
        <ul>
          <li>LinkedIn</li>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>Facebook</li>
        </ul>
      </div>

    </div>

    <div class="bot-footer">

      <div class="legal">
        <span>Mind Bubble ©2022</span>
        <span>Legal</span>
        <span>Confidentiality</span>
        <span>Cookies</span>
      </div>

    </div>
  </div>
</footer>
