<div class="footer">
  <div class="footer-links">
     <p>Follow Us:</p>
     <a href="#"><i class="fab fa-github"></i></a>
     <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    <a href="#">©Mind Bubble</a>
  </div>
</div>
