<h1 class="main_form">
  <span>Rent a classic car in<input class="location-input" type="text" placeholder="wherever you want" /></span>
  <span>from<input class="date-input" type="text" placeholder="pick a date" />to<input class="date-input" type="text" placeholder="pick a date" /><form action="vehicles"><input class="submit-btn" value="Search" type="submit" /></form></span>
</h1>