<div class="nav-bar">
  <ul>
    <li class="logo"><%= link_to "Classicars" %></li>
    <li><%= link_to "Sign in", user_session_path %></li>
    <li class="cta-rent"><%= link_to "Rent a classic" %></li>
  </ul>
</div>
