<div class="nav-bar remove-link-decoration">
  <ul>
    <li class="logo"><%= link_to "ClassiCars", "pages/home"%></li>
    <li> <% if current_user %>
          <%= link_to "Sign in", user_session_path %>
        <% else %>
          <%= current_user.email %>
        <% end %></li>
    <li class="cta-rent"><%= link_to "Rent a classic"%></li>
  </ul>
</div>
