<ul class="vehicle-types-bar">
  <li class="vehicle-element">
    <i class="fa-solid fa-car"></i>
    Cars
  </li>
  <li class="vehicle-element">
    <i class="fa-solid fa-motorcycle"></i>
    Motorcycles
  </li>
  <li class="vehicle-element">
    <i class="fa-solid fa-van-shuttle"></i>
    Vans
  </li>
   <li class="vehicle-element">
    <i class="fa-solid fa-motorcycle"></i>
    Scooters
  </li>
  <li class="vehicle-element">
    <i class="fa-solid fa-sailboat"></i>
    Boats
  </li>
</ul>