$font: "Roobert";

@font-face {
  font-family: $font;
  src: url("fonts/Roobert-Regular.woff2");
  font-weight: 100;
}
@font-face {
  font-family: $font;
  src: url("fonts/Roobert-Medium.woff2");
  font-weight: 200;
}
@font-face {
  font-family: $font;
  src: url("fonts/Roobert-SemiBold.woff2");
  font-weight: 300;
}
@font-face {
  font-family: $font;
  src: url("fonts/Roobert-Bold.woff2");
  font-weight: 400;
}
