
.btn-primary {
  color: rgb(56, 54, 54);
  background-color: rgb(236, 231, 231);
  border: 1px solid grey;
  border-radius: 8px;
  // box-shadow: 2px 2px 3px grey;

}

.btn-primary:hover {
  background-color: rgb(169, 169, 169);
  scale: 1.05;
}

.btn-secondary {
  color: rgb(56, 54, 54);
  background-color: rgb(236, 231, 231);
  border: 1px solid grey;
  border-radius: 8px;
  // box-shadow: 2px 2px 3px grey;
}

.btn-secondary:hover {
  background-color: rgb(169, 169, 169);
  scale: 1.05;
}
