.show-container {
  width: 1010px;
  margin: 0 auto;
}

.pictures {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;

  .main-picture img {
    width: 652px;
    height: 512px;
    border-radius: 10px;
  }

  .secondary-pictures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      width: 326px;
      height: 240px;
      border-radius: 10px;
    }
  }
}

p {
  margin: 0;
}

.info-container {
  width: 1010px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .description {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .profile {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      .pp {
        width: 100px;
        height: 100px;
        margin-right: 32px;
        background-color: #aaa;
        border-radius: 100%;
      }

      h1 {
        margin: 0;
        flex-grow: 1;
      }
    }

    .test {
      display: flex;

      .location {
        box-sizing: border-box;
        width: 100px;
        margin-right: 32px;
        text-align: center;
      }

      .vehicle-description {
        width: 553px;
        padding-right: 64px;
      }
    }
  }

  .book-form {
    display: block;
    width: 326px;
    padding: 32px;
    border: 1px solid #aaa;
    border-radius: 10px;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    label {
      font-size: 12px;
      font-weight: 700;
    }

    input {
      width: 210px;
      height: 42px;
      padding: 0 16px;
      border: 1px solid #aaa;
      border-radius: 10px;
    }

    .to-date {
      margin: 32px 0;
    }

    .total {
      margin-top: 32px;
      font-size: 12px;
      font-weight: 700;

      .total-price {
        font-size: 20px;
        font-weight: 300;
      }
    }

    .book-btn {
      input {
        width: 100%;
        font-weight: 700;
        color: #333;
        background-color: #fff;
        border: 2px solid #333;
        transition: 0.2s;

        &:hover {
          color: #fff;
          background-color: #333;
          border: none;
        }
      }
    }
  }
}
