.container {
  max-width: 1300px;
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.card {
  width: 243px;
  border-style: none;
  margin: 24px 16px;
  transition: 0.4s;

  &:hover {
    scale: 1.02;

    .card-body,
    .card-footer {
      background-color: #333;
      color: #fff;
    }
  }

  img {
    width: 243px;
    height: 243px;
    margin-bottom: 16px;
    object-fit: cover;
  }
}

.card-img-top {
  border-radius: 10px;
}

.price-index {
  font-size: 12px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  padding-top: 16px 0;
  border-radius: 10px;
  transition: 0.2s;
}

.card-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-align: right;
  }
}
.card-footer {
  font-size: 12px;
  background-color: white;
  border: none;
  transition: 0.2s;

  a {
    text-decoration: none;
  }
}

.per-day {
  font-size: 10px;
  font-weight: bold;
}

.card-body h3 {
  font-size: 14px;
  font-weight: bold;
}

.remove-link-decoration {
  a:link {
    text-decoration: none;
    color: black;
  }
}

.card-product-container {
  h1 {
    margin-bottom: 64px;
  }
}

.price-upcoming {
  color: #333;
  font-size: 20px;
  font-weight: 300;
}

.card-product {
  height: 120px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 120px;
  width: 120px;
  margin-right: 32px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.douze {
  font-size: 12px;
}

.card-product-infos {
  height: 120px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  width: 100%;
}

.mid-m {
  margin: 10px 0;
  opacity: 0.7;
}

.booking-infos {
  color: #333;
}

.cta-lar {
  color: #333;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 10px;
  border: 2px solid #333;
  transition: 0.2s;

  &:hover {
    background-color: #333;
    color: #fff !important;
  }
}

.mc-ttl {
  margin: 96px 0 32px 0;
}

.prev-ttl {
  margin-top: 96px;
}

.mycars-btns {
  display: flex;

  .cta-edit {
    width: 90px;
    color: #333;
    padding: 8px 0;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    border: 2px solid #333;
    transition: 0.2s;

    &:hover {
      background-color: #333;
      color: #fff !important;
    }
  }

  .cta-del {
    width: 38px;
    height: 38px;
    background-color: rgb(251, 103, 103);
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-left: 16px;
    transition: 0.3s;

    &:hover {
      background-color: rgb(255, 72, 72);
    }
  }
}
