.container {
  width: 900px;
}
.card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card {
  width: 278px;
  border-style: none;
  transition: .2s;
  img {
    width: 278px;
    height: 278px;
    object-fit: cover;
  }
  &:hover {
    scale: 1.05;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}

.card-img-top {
  border-radius: 10px;

}

.card-body {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-top: 16px;
  // font-family:  ;
}

.card-footer {
  background-color: white;
  border: none;
  padding: 5px 0;
}

.per-day {
  font-size: 10px;
  font-weight: bold;
}

.card-body h3 {
  font-size: 16px;
  font-weight: bold;
}
