footer {
  width: 100%;
  background-color: rgb(235, 235, 235);

  .footer-container {
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin: 0 auto;
    padding: 64px 0 32px 0;
    font-size: 12px;
    color: #333;

    .top-footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 32px;
      border-bottom: 1px solid rgb(215, 215, 215);

      .logo-footer {
        font-size: 16px;
        font-weight: 700;

        .catchline {
          font-size: 12px;
          font-weight: 300;
        }
      }

      .newsletter {
        display: flex;
        flex-direction: column;

        .newsletter-inputs {
          margin-top: 8px;

          input {
            height: 28px;
            border: 1px solid rgb(215, 215, 215);
            border-radius: 4px;
          }

          .newsletter-name {
            width: 110px;
            padding-left: 16px;
            background-color: #f8f8f8;
          }

          .newsletter-email {
            width: 280px;
            margin: 0 8px;
            padding-left: 16px;
            background-color: #f8f8f8;
          }

          .newsletter-btn {
            width: 110px;
            color: #fff;
            background-color: #333;
          }
        }
      }
    }

    .mid-footer {
      display: flex;
      justify-content: space-between;
      margin: 32px 0 16px 0;

      div {
        h4 {
          font-size: 16px;
          margin-bottom: 32px;
        }
        ul {
          padding: 0;
          list-style: none;

          li {
            margin-bottom: 16px;
          }
        }
      }
    }

    .bot-footer {
      display: flex;
      justify-content: center;
      padding-top: 32px;
      .legal {
        font-size: 10px;
        opacity: 0.7;
        span {
          margin-right: 32px;
        }
      }
    }
  }
}
