
.main-signup-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-container {
    height: 400px;
    width: 400px;
    margin-bottom: 100px;

  .signup-input {
    width: 355px;
    height: 42px;
    margin-left: 32px;
    padding-left: 32px;
    color: #333;

    input {
      font-size: 16px;
      border: 2px solid #333;
      border-radius: 10px;
    }
  }

  .submit-btn {
    width: 110px;
    height: 42px;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    border: 2px solid #333;
    transition: 0.2s;

    &:hover {
      background-color: #333;
      color: #fff;
    }
  }

}
