.logo-container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.classic-logo {
  background-image: url('https://res.cloudinary.com/diqoidhqa/image/upload/v1661840858/ClassiCars_1_afvnlg.png');
  background-size: cover;
  width: 150px;
  height: 150px;
}
