.main-form {
  margin: 0;
  padding-top: 24px;
  text-align: center;
  font-size: 48px;
  font-weight: 600;

  input {
    font-size: 16px;
    border-radius: 10px;

    &:focus {
      outline: none;
      border: 3px solid #fff;
    }
  }

  .first-line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    label {
      padding-bottom: 10px;
    }
  }

  .second-line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    label {
      padding-bottom: 8px;
      line-height: 0;
    }
  }

  .from-date {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .to-date {
    display: flex;
    align-items: center;
  }

  ::placeholder {
    font-weight: 300;
  }

  .location-input {
    width: 353px;
    height: 42px;
    margin-left: 32px;
    padding-left: 32px;
    background-color: rgba(0, 0, 0, 0);
  }

  .date-input {
    width: 213px;
    height: 42px;
    margin: 0 32px;
    padding: 0 32px;
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);

    &:hover {
      cursor: pointer;
    }
  }

  .sub-btn {
    width: 110px;
    height: 42px;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    transition: 0.2s;

    &:hover {
      background-color: #333;
      color: #fff;
      border: none;
    }
  }
}

@media (max-width: 786px) {
  .main-form {
    .first-line {
      flex-wrap: wrap;
      label {
        line-height: 1;
      }
    }

    .date-input {
      margin: 0;
    }

    .location-input {
      margin-left: 0px;
    }

    .from-date {
      margin-top: 20px;
      width: 353px;
      justify-content: space-between;
    }

    .to-date {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 353px;
      justify-content: space-between;
    }
  }
}
