.main-form-black {
  margin: 0;
  margin-bottom: 104px;
  padding-top: 16px;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  color: #333;

  input {
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 10px;

    &:focus {
      outline: none;
      border: 3px solid #333;
    }
  }

  .first-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;

    label {
      padding-bottom: 10px;
      line-height: 0;
    }
  }

  .second-line {
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      margin: 0 6px;
      padding-bottom: 10px;
      line-height: 0;
    }
  }

  ::placeholder {
    color: #333;
  }

  .location-input {
    width: 353px;
    height: 42px;
    margin-left: 32px;
    padding-left: 32px;
    color: #333;
  }

  .date-input {
    width: 213px;
    height: 42px;
    margin: 0 32px;
    padding: 0 32px;
    color: #333;
  }

  ::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
  }

  ::placeholder {
    font-weight: 300;
    color: #333;
  }

  .submit-btn {
    width: 110px;
    height: 42px;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    border: 2px solid #333;
    transition: 0.2s;

    &:hover {
      background-color: #333;
      color: #fff;
    }
  }
}
