.nav-bar {
  z-index: 1;
  width: 100%;
  padding: 32px;

  a.dropdown-item {
    text-decoration: none;
    color: rgb(8, 8, 8);
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      color: rgb(0, 0, 0);
    }

    li:hover {
      cursor: pointer;
    }

    .logo {
      flex-grow: 1;
      font-weight: 700;
    }

    .cta-rent {
      margin-left: 32px;
      font-weight: 700;
    }
  }
  div.dropdown-menu-end {
    border-radius: 10px;
    box-shadow: 3px 3px 10px ;
    margin: 16px 0px !important;
  }
}
