.nav-bar {
  width: 100%;
  padding: 32px;

  ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .logo {
    flex-grow: 1;
  }

  .cta-rent {
    margin-left: 32px;
    font-weight: 400;
  }
}
