.nav-bar {
  width: 100%;
  text-decoration: none;
  padding: 10px 20px;
  padding-right: 30px;
  margin-bottom: 20px;
  background-color: white;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      z-index: 1;
      text-decoration: none;
      color: black;
      font-weight: bold;
    }

    li:hover {
      cursor: pointer;
    }

    .logo {
      flex-grow: 1;
      font-weight: bold;
    }

    .cta-rent {
      margin-left: 32px;
      font-weight: bold;
    }
  }

}
