  <%= render '/components/navbar' %>
  <%= render '/components/main_form_black' %>
<div class="container">
  <div class="card-container mt-3">
    <% @vehicles.reverse.each do |vehicle| %>
      <%= render '/components/card', vehicle: vehicle %>
    <% end %>
  </div>
</div>
