<h1>Vehicles#show</h1>
<p>Find me in app/views/vehicles/show.html.erb</p>

<div class="simple-form-container">
  <%= simple_form_for [@vehicle, @booking] do |f| %>
    <div class="dates">
      <%= f.input :start_date, order: [:day, :month, :year] %>
    </div>
    <div class="dates">
      <%= f.input :end_date, order: [:day, :month, :year] %>
    </div>
    <%= f.submit "Book Now" %>
  <% end %>
</div>
